*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
/* shared style */
.btn{
    color: #FFFFFF;
    padding: 12.5px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
/* navigation bar */
.navication-container{
    display: flex;
    max-width: 1360px;
    justify-content: space-between;
    margin: 16px auto;
    align-items: center;
}
.navication-container ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}
.navication-container ul li a{
    text-decoration: none;
    line-height: 152%;
    font-size: 16px;
    color: #000000;
}
/* hero banner */
#hero-banner{
    background-image:linear-gradient(rgba(1, 34, 65, 0.24)),url("../assets/hero-bg.png");
    padding: 115.2px 120px 179.5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top;

}
#hero-banner .bage{
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #30B868;
    display: flex;
    max-width: 229px;
    margin: auto;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    


}
#hero-banner .bage .dot{
    width: 16px;
  height: 16px;
  background: #5bb07a;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(91, 176, 122, 0.25)
}
#hero-banner h2{
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
}
#hero-banner .banner-info-h2{

    color: #30B868;
    margin-bottom: 16px;
}
#hero-banner .banner-info p{
    line-height: 24px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;

}
#hero-banner #white-button{
    border-radius: 4px;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.08);
    margin-left: 10px;
}
.btn-all{

    margin-top: 32px;
}
/* card section */
.card-section{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;

}
.card-section .card-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.card-section .card-container .card-box{

    padding: 70px 24px;
    align-items: center;
}
.card-section .card-container .card-box img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    
    width: 32px;
    height: 32px;
    background-size: 60px;
}